<div class="auth-container">
    <div class="blue-region">
        <div class="logo-region">
            <img src="./assets/Logo-Low-Opacity.svg">
            <div class="logo-message">
                <span class="mytext">WELCOME TO CHAT HUB</span>
                <p class="mytext1">Join our  community to spend a quality time with your knowns.</p>
            </div>
           
           
        </div>
    </div>
    <div class="white-region">
        <div class="signup-container">
        <img src="./assets/Logo.svg">
        <h2 class="mytext2">JOIN US</h2>
        <input class="mytext2 input-field" placeholder="EMAIL" type="email" id="email" name="email"><br>
        <input class="mytext3 input-field" type="password" placeholder="PASSWORD" id="password" name="password"><br>
        <button class="btn" class="btn btn-primary"><b class="mytext1">Sign Up</b></button>
        <p class="mytext4">Already a user? <span (click)="this.navigateToSignIn()">Sign In</span></p>
    </div>

    </div>

</div>
