<div class="auth-container">
    <div class="blue-region">
        <div class="logo-region">
            <img src="./assets/Logo-Low-Opacity.svg">
            <strong><h2 class="mytext">WELCOME TO CHAT HUB</h2></strong>
            <p class="mytext1">join our  community to spend a quality time with your knowns.</p>
           
        </div>
    </div>
    <div class="white-region">
        <div class="logo-region1">
        <img src="./assets/Logo.svg">
        <h2 class="mytext2">WELCOME BACK</h2>
        <input class="mytext2" type="email" id="email" name="email"><br>
        <input class="mytext3" type="password" id="password" name="password"><br>
        <button class="btn" class="btn btn-primary"><b class="mytext1">LOGIN</b></button>
        <p class="mytext4">Already a user? <b>Sign in</b></p>
    </div>

    </div>

</div>
