<div class="profiles">
    <div class="blueregion">
        <div class="profilecontainer">
             <div class="profileimg">
                <img class="edit-icon" src="./assets/Profile Edit Icon.svg">
                <img class="profile-pic" src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
             </div>
             <div class="profile-name"><span>AUNTY</span></div>
              <div class="info">
                  <div class="info-container">
                      
                  </div>

              </div>
        </div>
         
    </div>
    <div class="whiteregion">
          
    </div>
</div>
