<div class="profiles">
  
    <div class="blueregion">
       <div class="edit-profile">
        <img (click)="onEditProfile()" src="./assets/edit-regular.svg">
        
        </div>
        <div class="profilecontainer">
            
         
             <div class="profileimg">
                <img class="edit-icon" src="./assets/Profile Edit Icon.svg">
                <img class="profile-pic" src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
             </div>
             <div class="profile-name"><span>Angrejan</span></div>
              <div class="info">
                  <div class="info-container">
                      <div class="info-labels">
                        <span class="info-label">Email</span>
                        <span class="info-content">angrejan@gmail.com</span>
                      </div>
                      <!-- <div class="info-edit">
                        <span>Edit</span>
                      </div> -->
                  </div>
                  <div class="info-container">
                    <div class="info-labels">
                      <span class="info-label">Location</span>
                      <span class="info-content">Delhi</span>
                    </div>
                    <!-- <div class="info-edit">
                      <span>Edit</span>
                    </div> -->
                </div>
                <div class="info-container">
                    <div class="info-labels">
                      <span class="info-label">Description</span>
                      <div class="info-content info-desc">This is a very long description that requires ellipsis.</div>
                    </div>
                    <!-- <div class="info-edit">
                      <span>Edit</span>
                    </div> -->
                </div>
              </div>
              <div class="profile-options">
                  <div class="btn btn-message">
                      <img src="./assets/Message Button Icon.svg"> 
                      <span>Message</span> 
                  </div>
                  <div class="btn btn-connect"> 
                      <img src="./assets/Connect Icon.svg">
                      <span>Connect</span> 
                </div>
              </div>
        </div>
    </div>
    <div class="whiteregion">
          <div class="collection-heading">
              <span>Angrejan's Collection</span>
          </div>
          <div class="post-container">
            <div class="post-img"><img src="../../../assets/Harry Potter/1.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/2.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/3.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/4.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/5.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/6.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/7.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/8.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/9.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/10.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/11.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/12.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/13.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/14.jpg"></div>
            <div class="post-img"><img src="../../../assets/Harry Potter/15.jpg"></div>
          </div>
    </div>
</div>
