<div class="container">
    <div class="white">
        <div class="box">
            <input class="inputbox" placeholder="CHAT HUB PROFILE UPDATE">
            <div class="heading">EDIT YOUR PROFILE</div>
            <div class="input1">
                <div class="names">
                  <input class="first-name" placeholder="First Name">
                  <input class="last-name" placeholder="Last-Name">
                </div><br>
                <div class="details">
                   <input class="email" placeholder="Email">
                   <input class="location" placeholder="Location">

                </div>
            </div>
            <textarea class="description" placeholder="DESCRIPTION...."></textarea>
            <button class="save-button">SAVE</button>
        </div>
       
        
        </div>
    
    <div class="grey">
       
    </div>

</div>
