<div class="container">
    <div class="white">
        <div class="box">
            <div class="heading">EDIT YOUR PROFILE</div>
            <form [formGroup]="DetailsEditForm">

                <div class="input1">
                    <div class="names">
                      <input class="first-name hoverinput" placeholder="First Name"  formControlName="first_Name" minlength="5" required>
                      <span
                      *ngIf="!DetailsEditForm.get('first_Name').valid && DetailsEditForm.get('first_Name').touched" 
                       class="error">
                      Name should contain min 5 char..
                      </span>

                      <input class="last-name hoverinput" placeholder="Last Name"  formControlName="last_Name" >
                    </div>
                    <div class="details">
                       <input class="email hoverinput" placeholder="Email"type="email" >
                       <input class="location hoverinput" placeholder="Location"  formControlName="location" >
                    </div>
                </div>
                <textarea class="description hoverinput" placeholder="DESCRIPTION...." formControlName="description"></textarea>

            </form>
            
            <button class="save-button" (click)="onEditDetails()">SAVE</button>
        </div>
       
        
        </div>
    
    <div class="grey">
       
    </div>

</div>
