.auth-parent{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}

.blue-region{
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
    background-color: var(--primary-color);
}
.authentication-region{
    display: flex;
    flex-grow: 1;
    background-color: var(--white);
}
.logo-region{
    height: 100px;
    width: 100px;
    background-color: orange;
}

