<div class="textarea">
    <div class="contact">
        <div class="search-section">
            <img class="viewprofile" src="./assets/menu_btn.svg" (click)="opensidebar()">
            <div class="search-box">
                <input type="search" class="searchbox" placeholder="Search for new friends..." [(ngModel)]="search"
                    (input)="onSearch(search)" />
                <img *ngIf="this.showSearchResults" src="./assets/cross-icon.svg" (click)="this.closeSearchResults()">
            </div>


        </div>
        <div *ngIf="!this.showSearchResults">
            <div class="position-relative  conversation" *ngFor="let userFriend of userFriends | keyvalue "
                (click)="userFriend69(userFriend)">
                <div class="friends-container " [ngClass]="{'selected':  userFriend?.key === this.selectedChat}">
                    <div class="friends-profile-img">
                        <img src="./assets/profile.svg">
                    </div>
                    <span class="friends-username">
                        {{userFriend?.key}}
                    </span>
                </div>
            </div>
        </div>


        <div *ngIf="this.showSearchResults">

            <div class="search-result" *ngFor="let resArray of resArrays" (click)="getuserinfo(resArray?.username)">
                <div class="search-profile-image">
                    <img src="./assets/profile.svg">
                </div>
                <div class="search-result-info">
                    <span class="username">{{resArray?.username}}</span>
                    <span class="description">{{resArray?.description}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar" [ngClass]="{'open-side-bar': this.showSideBar}" id="sidebarid">
        <div class="chevron"><img src="../assets/chevron-left-solid.svg" (click)="hideSideBar()"></div>

        <div class="sidebar-profile-img">
            <div class="sidebar-image"><img src="./assets/default.svg"></div>
            <div class="user-name">
                <span class="name">{{this.userNames?.first_Name}} {{this.userNames?.last_Name}}</span>
                <span class="desp">{{this.userNames?.description}}</span>
            </div>
        </div>

        <div class="icons">
            <div class="profile option-container"><img src="../assets/user-circle-solid.svg"><span
                    (click)="goToProfile()">PROFILE</span></div>
            <div class="option-container"><img src="../assets/bell-icon.svg"><span
                    (click)="goToProfile()">NOTIFICATIONS</span></div>
            <div class="logout option-container"><img src="../assets/sign-out-alt-solid.svg"><span
                    (click)="goToSignOut()">SIGN OUT</span></div>
        </div>



    </div>
    <div class="initial-message-parent message" *ngIf="!this.selectedChat">
       
        <div class="initial-message">
            <span>
                Please select a chat to start messaging
            </span>
        </div>

    </div>
    <div class="message" *ngIf="this.selectedChat">
        <div class="messages-parent">
            <div class="user-heading">
                <span> {{this.selectedChat}}</span>
                <div class="messages-container">
                    <img src="../../../assets/setting.svg">
                </div>
            </div>

        </div>

        <div class="chat-messages-parent" >
         <div class="chat-messages" *ngFor="let msg of messageArray">
            <div class="right" *ngIf="isSelfUserName(msg.sentBy)"> 
                <span>{{msg.message}}</span>
            </div>
           
            <div class="left" *ngIf="!isSelfUserName(msg.sentBy)">
                 <span>{{msg.message}}</span>
            </div>
         </div>

        </div>



        <div class="input-text-parent">

            <div class="input-text-area">
                <img class="microphone" src="../../../assets/microphone.svg">
                <img class="smile" src="../../../assets/smile.svg">
                <input type="text" [(ngModel)]="message">
                <img src="../../../assets/send.svg" (click)="sendMessages()">
            </div>
        </div>

    </div>
</div>